.infos {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  gap: 20px;
  max-width: 500px;
  grid-area: info-lang;

  h3 {
    color: var(--text-primary);
    font-size: 17px;
  }

  @media (min-width: 768px) {
    h3 {
      align-items: start;
    }
  }

  .languages-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    width: 100%;

    span {
      img {
        margin-right: 12px;
      }

      color: var(--text-secondary);
      font-weight: 300;
      font-size: 24px;
      line-height: 28px;
      margin-left: 2vw;

      @media (min-width: 768px) {
        font-size: 20px;
        line-height: 36px;
        text-align: start;
      }
    }
  }
}
