.education {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  gap: 20px;
  max-width: 500px;

  h3 {
    color: var(--text-primary);
    font-size: 17px;
  }

  span {
    color: var(--text-secondary);
    font-weight: 300;
  }

  @media (min-width: 768px) {
    h3 {
      align-items: start;
    }

    .educational-info {
      display: flex;
      flex-direction: row;
      gap: 12px;
      align-items: center;
      width: 100%;
      font-size: 20px;
      margin-left: 2vw;

      span {
        max-width: 300px;
      }
    }
  }
}
